# Database (MongoDB Atlas hoặc local)
DATABASE_URL="mongodb+srv://user:password@cluster.mongodb.net/catlearninghub?retryWrites=true&w=majority"

# NextAuth
NEXTAUTH_SECRET="your-secret-here-generate-with-openssl-rand-base64-32"
NEXTAUTH_URL="http://localhost:3000"
